[access]
	inheritFrom = All-Projects
[project]
	description = DCAE inventory API service
[access "refs/*"]
	owner = group ldap/onap-gerrit-dcaegen2-platform-inventory-api-committers
	owner = group saml/onap-gerrit-dcaegen2-platform-inventory-api-committers
	read = group GitHub Replication
[access "refs/for/refs/heads/el-alto"]
	push = block group Registered Users
